@font-face {
  font-family: SvnMont;
  src: url(../fonts/Mont-ExtraLightDEMO.otf) format('opentype');
}

@font-face {
  font-family: SvnMontBold;
  font-weight: bold;
  src: url(../fonts/Mont-HeavyDEMO.otf) format('opentype');
}
